<div class="container">

    <form class="login-form" [formGroup]="loginForm">
        <div class="login-wrap">
            <p class="login-img"><i class="">
                    <span class="profile-ava">
                        <img alt="" src="assets/img/LogoSanJose.png" width="100">
                    </span>
                </i></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input type="text" class="form-control"placeholder="Usuario" formControlName="usuario" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
            </div>
            
            <button class="btn btn-primary btn-lg btn-block round-input" [disabled]="loginForm.invalid" (click)="login(loginForm.getRawValue())">Iniciar Sesión</button>
        </div>
    </form>
</div>
<ngx-alerts></ngx-alerts>