<div class="col-lg-12">
	<div class="col-lg-12">
		<div class="form__top">
			<h2>REPORTES <span>PRODUCTOS</span></h2>
		</div>
	</div>
	<div class="col-lg-12">
		<ul class="nav top-menu">
			<div  class="navbar-form">
				Buscar Producto: <input (keyup)='updateFilter($event)' class="form-control round-input input" placeholder="Codigo/Nombre" type="text" required>
			</div>
		</ul>LISTA
		<section class="panel">

			<ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns"
			[columnMode]="'force'" [headerHeight]="40" [summaryRow]="true" [summaryPosition]="'bottom'"
			[footerHeight]="40" [limit]="10" [rowHeight]="'auto'" [reorderable]="reorderable">
		</ngx-datatable>

		</section>
	</div>
</div>