<div class="container">
  <div class="row">
      <div class="col-lg-12">

          <div class="form__top">
              <h2>ADMINISTRACIÓN <span>CREDITOS</span></h2>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <form class="navbar-form " [formGroup]="creditoForm">

              <div class="row">
                  <div class="col-md-6">
                      <!-- C.I/RUC: <input class="form-control round-input input" type="text" required> -->
                      C.I/RUC: <ng-multiselect-dropdown [placeholder]="'Seleccione un cliente'" [data]="listaClientes"
                          [settings]="clientesSettings" (onSelect)="onItemSelect('ruc', $event)" (onSelectAll)="onSelectAll($event)"
                          class="buscador-cliente">
                      </ng-multiselect-dropdown>
                  </div>
                  <div class="col-md-6">
                    Buscar factura: <ng-multiselect-dropdown [placeholder]="'Seleccione una factura a credito'"
                        [data]="listaFacturas" [settings]="facturasSettings" (onSelect)="onItemSelect('factura', $event)"
                        (onSelectAll)="onSelectAll($event)" class="buscador-cliente">
                    </ng-multiselect-dropdown>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      Nombre: <input class="form-control round-input input" type="text" [value]="nombres" readonly>
                  </div>
                  <div class="col-md-6">
                      Teléfono: <input class="form-control round-input input" type="text" [value]="telefono" readonly>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6">
                    Saldo Total: <input class="form-control round-input input" type="number" formControlName="saldoTotal"
                    readonly>
                  </div>
                  <div class="col-md-6">
                      Abono: <input class="form-control round-input input" type="text" formControlName="abono">

                  </div>
              </div>

          </form>
      </div>

      <div class="col-lg-12">
          <section class="panel">

              <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
                  [headerHeight]="40" [summaryRow]="true" [summaryPosition]="'bottom'" [footerHeight]="40" [limit]="6"
                  [rowHeight]="'auto'" [reorderable]="reorderable">

                  <ngx-datatable-column>
                      <ng-template let-column="column" ngx-datatable-header-template>
                          MES
                      </ng-template>
                      <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                          {{row.mes | date:'short'}}
                      </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column>
                      <ng-template let-column="column" ngx-datatable-header-template>
                          SALDO INICIAL
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.inicial | currency}}
                      </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column>
                      <ng-template let-column="column" ngx-datatable-header-template>
                          AMORTIZACIÓN
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.amortizacion | currency}}
                      </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column>
                      <ng-template let-column="column" ngx-datatable-header-template>
                          INTERESES
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.intereses | currency}}
                      </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column>
                      <ng-template let-column="column" ngx-datatable-header-template>
                          CUOTA MES
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.cuotaMes | currency}}
                      </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column>
                      <ng-template let-column="column" ngx-datatable-header-template>
                          SALDO FINAL
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                          {{row.saldo | currency}}
                      </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]='90'>
                      <ng-template let-column="column" ngx-datatable-header-template>
                          PAGADO
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <input type="checkbox" [checked]="row.pagada" onclick="return false;"> 
                      </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]='250'>
                      <ng-template let-column="column" ngx-datatable-header-template>
                          OPCIONES
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                            <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success"  (click)="pagarCuota(row)" [disabled]="row.pagada" >PAGAR</button>
                        <button type="button" class="btn btn-warning"  (click)="imprimirRecibo(row)">IMPRIMIR</button>
                        </div>
                      </ng-template>
                  </ngx-datatable-column>

              </ngx-datatable>


          </section>
          <div class="btn__form">
              <button class="btn__reset">FACTURAR</button>
          </div>
      </div>
  </div>
</div>