<div class="col-lg-12">

    <div class="form__top">
        <h2>ADMINISTRACION <span>CREDITOS</span></h2>
    </div>
</div>

<div class="col-lg-12">
    <header class="panel-heading form-control input">
        DETALLE CREDITO:
    </header>
    <div class="card-body card-block form-inline">
        <div class="col-3">

            <form class="navbar-form">
                Saldo Total: <input class="form-control col-sm-11 round " type="text" required>
            </form>

        </div>
        <div class="col-3">
            <ul class="nav top-menu pr-1">
                <form class="navbar-form  ">
                    Nº Cuotas: <input class="form-control round-input " type="text" required>
                </form>
            </ul>
        </div>
        <div class="col-3">
            <ul class="nav top-menu pr-1">
                <form class="navbar-form">
                    Interes Mensual: <input class="form-control round-input " type="text" required>
                </form>
            </ul>
        </div>
    </div>
    <div class="card-body card-block form-inline">
        <div class="col-3">
            <ul class="nav top-menu pr-1">
                <form class="navbar-form">
                    Total con credito:<input class="form-control round-input  " type="text" required>
                </form>

            </ul>
        </div>
        <div class="col-3">
            <ul class="nav top-menu pr-1">
                <form class="navbar-form">
                    Fecha 1er Pago:<input class="form-control round-input  " type="date" required>
                </form>

            </ul>
        </div>
        <div class="col-3">
            <ul class="nav top-menu pr-1">
                <form class="navbar-form">
                    1er Pago:<input class="form-control round-input  " type="text" required>
                </form>

            </ul>
        </div>
    </div>
</div>


<div class="btn__form">
    <div class="col-lg-12">
        <section class="panel">

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nº de Cuota</th>
                        <th>Saldo</th>
                        <th>Fecha de Pago</th>
                        <th>Monto</th>
                        <th>Interes Mensual</th>
                        <th>Estado</th>
                        <th>Saldo Restante</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>
<div class="btn__form">
    <input class="btn__submit" type="submit" value="CANCELAR">
    <input class="btn__reset" type="reset" value="GUARDAR / EMPRIMIR">
</div>
