<body>
	<div class="">
		<div class="form__top">
			<h2>Formulario <span>Registro</span></h2>
		</div>
		<div class="row">
			<div class="col-6">
				<form class="form__reg" action="">
					<input class="input" type="text" placeholder="&#128100;  Nombre" required autofocus>
					<input class="input" type="email" placeholder="&#9993;  Email" required>
					<input class="input" type="text" placeholder="&#128222;  Telefono" required>
					<input class="input" type="text" placeholder="&#8962;  Dirección" required>
					<div class="btn__form">
						<input class="btn__submit" type="submit" value="REGISTRAR">
						
					</div>
				</form>
			</div>
			<div class="col-6">
				<form class="form__reg" action="">
					<input class="input" type="text" placeholder="&#128100;  Nombre" required autofocus>
					<input class="input" type="email" placeholder="&#9993;  Email" required>
					<input class="input" type="text" placeholder="&#128222;  Telefono" required>
					<input class="input" type="text" placeholder="&#8962;  Dirección" required>
					<div class="btn__form">
							<input class="btn__reset" type="reset" value="LIMPIAR">
					
					</div>
				</form>
			</div>
		</div>
	</div>
</body>