<div class="col-lg-12">

  <div class="form__top">
    <h2>REPORTES <span>USUARIOS</span></h2>
  </div>

</div>

<div class="col-lg-12">
  <div class="form__top"></div>
  <ul class="nav top-menu">

    <form [formGroup]="tmp" class="navbar-form">
      Buscar Usuario: <input
            type='text'
            class="form-control round-input input"
            
            placeholder='Nombre o cédula'
            (keyup)='updateFilter($event)'
          />
    </form>


  </ul>
  <section class="panel">
    <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns"
      [columnMode]="'force'" [headerHeight]="40" [summaryRow]="true" [summaryPosition]="'bottom'" [footerHeight]="40"
      [limit]="10" [rowHeight]="'auto'" [reorderable]="reorderable">
    </ngx-datatable>

  </section>
</div>