.sidenav-container {
    height: 100%;
  }
  .logo{
    height: 3.6rem; //tamaño del logo
    margin: 0 auto;
    border-radius: 50%;
  }
   /*-------------------------
    The menu
   --------------------------*/
   .sidenav-container{
    // margin:60px auto 45px;
    // background-color:rgb(190, 187, 186);
    background-color: rgba(255,255,255,.5);
   }
   .mat-toolbar{
    background-color:rgb(77, 65, 61); 
    color: white !important;
   }
   .sidenav{
    // margin:60px auto 45px; //se mueve el menu hacia arriba
    background-color:rgb(77, 65, 61);
    span{
      color: white !important;

    }

    
   }
   nav.home .home,
   nav.projects .projects,
   nav.services .services,
   nav.contact .contact{
    background-color:#e35885;
   }

   ng-material-multilevel-menu{
    color: white !important;
    
  }