<div class="col-lg-12">

	<div class="col-lg-11">
		<div class="form__top">
			<h2>ADMINISTRACION <span>USUARIOS</span></h2>
		</div>
		<form [formGroup]="usuariosForm">
			<input class="form-control round-input col-sm-12 input" formControlName="nombres" type="text" placeholder="&#128100;  Nombres"
			 required autofocus>
			<input class="form-control round-input col-sm-12 input" formControlName="apellidos" type="text" placeholder="&#128100;  Apellidos"
			 required autofocus>
			<input class="form-control round-input col-sm-12 input" formControlName="cedula" type="text" placeholder="&#128100;  Cédula"
			 required>
			<input class="form-control round-input col-sm-12 input" formControlName="email" type="email" placeholder="&#128100;  Email"
			 required>
			<input class="form-control round-input col-sm-12 input" formControlName="telefono" type="text" placeholder="&#128100;  Teléfono"
			 required>
			<input class="form-control round-input col-sm-12 input" formControlName="usuario" type="text" placeholder="&#128100;  Usuario"
			 required>
			<input class="form-control round-input col-sm-12 input" formControlName="password" type="password" placeholder="&#128100;  Contraseña"
			 required>
			 	<div class="form-control col-sm-12 form-group input">
					<span> <strong>Rol:</strong></span>
					<input class=" round-input col-sm-1" type="radio" formControlName="rol" value="admin"> Administrador	
					<input class=" round-input col-sm-1" type="radio" formControlName="rol" value="empleado"> Empleado	
				</div>
			<div class="btn__form">
				<button class="btn__submit" [disabled]="usuariosForm.invalid" (click)="agregarUsuario(usuariosForm.getRawValue())">REGISTRAR</button>
				<input class="btn__reset" type="reset" value="LIMPIAR">
			</div>
		</form>
		<!-- <pre>{{usuariosForm.value | json }}</pre> -->
	</div>
</div> 
