<div class="col-lg-12">
  <div class="form__top">
    <h2>REPORTES <span>VENTAS</span></h2>
  </div>

</div>

<div class="col-lg-12">
  <div class="form__top"></div>
  <ul class="nav top-menu">
    <div class="col-lg-3">
      Buscar Ventas:<input class="form-control round-input input" placeholder="Cédula/Nombre" type="text" required>
    </div>
  </ul>
  LISTA-->
  <section class="panel">

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nº FACTURA</th>
          <th>CLIENTE</th>
          <th>FECHA</th>
          <td>VALOR</td>
          <th>VENDEDOR</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>000816</td>
          <td>Jhoanna Rivas</td>
          <td>15/04/2018</td>
          <td>350.0</td>
          <td>Angel22</td>
        </tr>
        <tr>
          <td>2</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>