<div class="col-lg-12">
    <div class="col-lg-12">
      <div class="form__top">
        <h2>REPORTES <span>PRODUCTOS</span></h2>
      </div>
    </div>
    <div class="col-lg-12">
      <ul class="nav top-menu">
        <div  class="navbar-form">
          Buscar Producto: <input (keyup)='updateFilter($event)' class="form-control round-input input" placeholder="Codigo/Nombre" type="text" required>
        </div>
      </ul>LISTA
      <section class="panel">
  
        <ngx-datatable #table class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" 
        [columnMode]="'force'" [headerHeight]="40" [summaryRow]="true" [summaryPosition]="'bottom'"
        [footerHeight]="40" [limit]="5" [rowHeight]="'auto'" [reorderable]="reorderable">
        
        <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
              Num. Factura
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.numFactura}}
          </ng-template>
      </ngx-datatable-column>
        
        <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
              Cliente
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.cliente.nombres}} {{row.cliente.apellidos}}
          </ng-template>
      </ngx-datatable-column>
        
        <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
              Fecha
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.fecha | date: 'short'}}
          </ng-template>
      </ngx-datatable-column>
        
        <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
              Total
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.total | currency}}
          </ng-template>
      </ngx-datatable-column>
        
        <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
              Usuario
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.usuario.usuario}}
          </ng-template>
      </ngx-datatable-column>

      </ngx-datatable>
  
      </section>
    </div>
  </div>