<div class="col-lg-12">
    <div class="form__top">
        <h2>REPORTES <span>CLIENTES</span></h2>
    </div>

</div>

<div class="col-lg-12">
        <div class="form__top"></div>
    <ul class="nav top-menu">
            <div class="col-lg-3">
            Buscar Cliente:<input class="form-control round-input input" placeholder="Cédula/Nombre" type="text"
                required>
            </div>
    </ul>
    LISTA-->
    <section class="panel">

        <table class="table">
                <thead>
                        <tr>
                            <th>#</th>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>CÉDULA</th>
                            <th>TELEFONO</th>
                            <th>DIRECCIÓN</th>
                            <th>CORREO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Johana Patricia</td>
                            <td>Cordova Rivas</td>
                            <td>0703878678</td>
                            <td>0989696271</td>
                            <td>Paris y Pragras</td>
                            <td>jerewat07@gmail.com</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Felix Geovanny</td>
                            <td>Vicente Illescas</td>
                            <td>1900813633</td>
                            <td>0994939111</td>
                            <td>Eguigure y Rengel</td>
                            <td>felixviche@gmail.com</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
        </table>
    </section>
</div>