@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/36890858_2073919726206104_3515003829206646784_n.jpg?_nc_cat=107&_nc_ht=scontent-lga3-1.xx&oh=97871125dc435fcbf3d78bbcdda33c8c&oe=5CD9893A");
    background-size: cover;
    background-repeat: no-repeat;
}
.buscador-cliente{
	.dropdown-btn{
        color: black;
		background-color: #EFEFEF !important;
		padding: .5rem !important;
		margin: .5rem 0 !important;
		border: none !important;
		border-bottom: solid #C8C8C8 .2rem !important;
		transition: all .5s !important;
	}
}

.smart-table-input{
	color: black !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
    border: 1px solid #4a342e !important;
    background: #4a342e6d !important;
    color: rgb(0, 0, 0) !important;
}