<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="form__top">
        <h2>ADMINISTRACIÓN <span>VENTAS</span></h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form class="navbar-form ">
        <div class="row">
          <div class="col-md-4">
            Nº factura: <input class="form-control round-input input" type="text" required>
          </div>
          <div class="col-md-4 text-center">
            <p>{{configuracion.nombre}}</p>
            <p>{{configuracion.propietario}}</p>
          </div>
          <div class="col-md-4">
            RUC Empresa: <input class="form-control round-input input" [value]="configuracion.ruc" type="text" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!-- C.I/RUC: <input class="form-control round-input input" type="text" required> -->
            C.I/RUC: <ng-multiselect-dropdown
            [placeholder]="'Seleccione un cliente'"
            [data]="listaClientes"
            [settings]="clientesSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            class="buscador-cliente"
          >
          </ng-multiselect-dropdown>
          </div>
          <div class="col-md-6">
            Fecha de emisión: <input class="form-control round-input input" type="text" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            Nombre: <input class="form-control round-input input" type="text" required>
          </div>
          <div class="col-md-6">
            Teléfono: <input class="form-control round-input input" type="text" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            Dirección: <input class="form-control round-input input" type="text" required>
          </div>
          <div class="col-md-6">
            Forma de pago: <input class="form-control round-input input" type="text" required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            Buscar producto: <input class="form-control round-input input" type="text" required>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">

                <input class="form-control round-input input" value="Cantidad" type="text" required>
              </div>
              <div class="col-md-6">
                <button> Agregar</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>

    <div class="col-lg-12">
      <section class="panel">

        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>CANTIDAD</th>
              <th>DESCRIPCIÓN</th>
              <th>VALOR UNITARIO</th>
              <th>VALOR VENTA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>2</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>3</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="card-body card-block form-inline">
          <div class="col-2">
            <ul class="nav top-menu pr-1">
              <form class="navbar-form  ">
                SUBTOTAL: <input class="form-control round-input " required>
              </form>
            </ul>
          </div>
          <div class="col-2">
            <ul class="nav top-menu pr-1">
              <form class="navbar-form">
                DESCUENTO: <input class="form-control round-input" required>
              </form>
            </ul>
          </div>
          <div class="col-2">
            <ul class="nav top-menu pr-1">
              <form class="navbar-form">
                IVA 0%:<input class="form-control round-input " required>
              </form>

            </ul>
          </div>
          <div class="col-2">
            <ul class="nav top-menu pr-1">
              <form class="navbar-form">
                IVA {{configuracion.iva}}%:<input class="form-control round-input " required>
              </form>

            </ul>
          </div>
          <div class="col-2">
            <ul class="nav top-menu pr-1">
              <form class="navbar-form">
                VALOR TOTAL:<input class="form-control round-input  " type="text" required>
              </form>

            </ul>
          </div>
        </div>

      </section>
      <div class="btn__form">
        <input class="btn__submit" type="submit" value="REGISTRAR">
        <input class="btn__reset" type="reset" value="IMPRIMIR">
      </div>
    </div>
  </div>
</div>