<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="form__top">
        <h2>ADMINISTRACIÓN <span>VENTAS</span></h2>
      </div>
    </div>
  </div>
<!-- <pre>{{facturacionForm.value | json}}</pre> -->
  <div class="row">
    <div class="col">
      <form class="navbar-form " [formGroup]="facturacionForm">
        <div class="row">
          <div class="col-md-4">
            Nº factura: <input class="form-control round-input input" type="text" formControlName="numFactura">
          </div>
          <div class="col-md-4 text-center">
            <p>{{configuracion.nombre}}</p>
            <p>{{configuracion.propietario}}</p>
          </div>
          <div class="col-md-4">
            RUC Empresa: <input class="form-control round-input input" [value]="configuracion.ruc" type="text">
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <!-- C.I/RUC: <input class="form-control round-input input" type="text" required> -->
            C.I/RUC: <ng-multiselect-dropdown
            [placeholder]="'Seleccione un cliente'"
            [data]="listaClientes"
            [settings]="clientesSettings"
            (onSelect)="onItemSelect('ruc', $event)"
            (onSelectAll)="onSelectAll($event)"
            class="buscador-cliente"
          >
          </ng-multiselect-dropdown>
          </div>
          <div class="col-md-6">
            Fecha de emisión: <input class="form-control round-input input" type="text" formControlName="fecha" readonly>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            Nombre: <input class="form-control round-input input" type="text" [value]="nombres" readonly>
          </div>
          <div class="col-md-6">
            Teléfono: <input class="form-control round-input input" type="text" [value]="telefono" readonly>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            Dirección: <input class="form-control round-input input" type="text" [value]="direccion" readonly>
          </div>
          <div class="col-md-6">
            Forma de pago: <select class="form-control round-input input" formControlName="formaPago">
              <option value="efectivo">Efectivo</option>
              <option value="credito">Crédito</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            Buscar producto: <ng-multiselect-dropdown
            [placeholder]="'Seleccione un producto'"
            [data]="listaProductos"
            [settings]="productosSettings"
            (onSelect)="onItemSelect('producto', $event)"
            (onSelectAll)="onSelectAll($event)"
            class="buscador-cliente"
          >
          </ng-multiselect-dropdown>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                Cantidad:
                <input class="form-control round-input input"  type="number" min="1" [(ngModel)]="cantidadTmp" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="col-md-6">
                <br>
                <button type="button" class="btn btn-info" (click)="agregarProducto()"> Agregar</button>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>

    <div class="col-lg-12">
      <section class="panel">

        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>CANTIDAD</th>
              <th>DESCRIPCIÓN</th>
              <th>VALOR UNITARIO</th>
              <th>VALOR VENTA</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaVenta; let id = index ">
              <td>{{id+1}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.descripcion}}</td>
              <td>{{item.valorUnitario|currency}}</td>
              <td>{{item.valorVenta|currency}}</td>
            </tr>
           
          </tbody>
        </table>
        <div class="row" [formGroup]="facturacionForm">
        <div class="card-body card-block form-inline">
          <div class="col-2">
            <ul class="nav top-menu pr-1">
                SUBTOTAL: <input readonly class="form-control round-input " [value]="facturacionForm.get('subtotal').value | currency" formControlName="subtotal">
            </ul>
          </div>
          <div class="col-2">
            <ul class="nav top-menu pr-1">
                DESCUENTO: <input class="form-control round-input" [value]="facturacionForm.get('descuento').value | currency" formControlName="descuento">
            </ul>
          </div>
          <div class="col-2">
            <ul class="nav top-menu pr-1">
                IVA 0%:<input readonly value="$00.00" class="form-control round-input " required>

            </ul>
          </div>
          <div class="col-2">
            <ul class="nav top-menu pr-1">
                IVA {{configuracion.iva}}%:<input readonly class="form-control round-input " [value]="facturacionForm.get('iva').value | currency" formControlName="iva">

            </ul>
          </div>
          <div class="col-2">
            <ul class="nav top-menu pr-1">
                VALOR TOTAL:<input readonly class="form-control round-input  " type="text" [value]="facturacionForm.get('total').value | currency" formControlName="total">

            </ul>
          </div>
        </div>
      </div>

      </section>
      <div class="btn__form">
        <button class="btn__submit" [disabled]="facturacionForm.invalid" (click)="facturar()">REGISTRAR</button>
        <button class="btn__reset" type="reset">IMPRIMIR</button>
      </div>
    </div>
  </div>
</div>