<div class="col-lg-12">
	<div class="form__top">
		<h2>ADMINISTRACION <span>PRODUCTOS</span></h2>
		<form [formGroup]="productosForm">

			<input class="form-control round-input col-sm-11 input" formControlName="codigo" type="text" placeholder="&#128100;  Codigo"
			 required autofocus>
			<input class="form-control round-input col-sm-11 input" formControlName="categoria" type="text" placeholder="&#128100;  Categoria"
			 required autofocus>
			<input class="form-control round-input col-sm-11 input" formControlName="nombre" type="email" placeholder="&#128100;  Nombre"
			 required>
			<input class="form-control round-input col-sm-11 input" formControlName="detalle" type="text" placeholder="&#128100;  Detalle"
			 required>
			<input class="form-control round-input col-sm-11 input" formControlName="precio" type="text" placeholder="&#128100;  Precio"
			 required>
			<input class="form-control round-input col-sm-11 input" formControlName="stock" type="text" placeholder="&#128100;  Stock"
			 required>
			<div class="btn__form">
				<input class="btn__submit" type="submit" value="REGISTRAR">
				<input class="btn__reset" type="reset" value="LIMPIAR">
			</div>
		</form>
	<pre>{{productosForm.value | json }}</pre>
	</div>
</div>
<div class="btn__form">
	<div class="col-lg-12">
		<div>
		 <header class="panel-heading">
				Lista Productos:
			</header>
		</div>
		<section class="panel">

			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>CODIGO</th>
						<th>CATEGORIA</th>
						<th>NOMBRE</th>
						<th>DETALLE</th>
						<th>PRECIO</th>
						<th>STOCK</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>2</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>3</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</section>
	</div>
</div>