<div class="col-6">
  <div class="form-group">
    <label class="col-sm-2 control-label">Producto</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" type="text" placeholder="ingrese el nombre del Producto">
      <span class="help-block"></span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Descripcion</label>
    <div class="col-sm-10">
      <input type="text" class="form-control round-input" type="text" placeholder="ingrese una descripcion del producto">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Valor unitario</label>
    <div class="col-sm-10">
      <input class="form-control" id="focusedInput" type="text" value="Introdusca el valor del producto">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">cantidad</label>
    <div class="col-sm-10">
      <input class="form-control" id="disabledInput" type="text" placeholder="seleccione la cantidad">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">categoria</label>
    <select name="lenguajes_programacion">
        <option value="C01">SALA</option>
        <option value="C02">COMEDOR</option>
        <option value="C03">DORMITORIOS</option>
    </select>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="">
    </div>
  </div>
</div>


