.form-group{
    margin-bottom: 15px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    margin-left: -15px;
    margin-right: -15px;
    content: " ";
    clear: both;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; 
    margin-bottom: 5px;
    border-bottom: 1px solid #eff2f7;
    margin-bottom: 0;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: none;
    padding-bottom: 0px;
    display: inline;
    margin: 5px 0;
    color: #f3f3f3;
    font-weight: 400;
    border-color: #f3f3f3 !important;
    margin-bottom: 0px;
     

}

