<div class="col-lg-12">
  <div class="form__top">
    <h2>DATOS DE <span>LA EMPRESA</span></h2>

    <div class="col-lg-12">
      <input class="form-control round-input col-sm-11 input" formControlName="identificacion" type="text" placeholder="&#128100;  Nombre"
        required>
      <input class="form-control round-input col-sm-11 input" formControlName="identificacion" type="text" placeholder="&#128100;  Ruc"
        required>
      <input class="form-control round-input col-sm-11 input" formControlName="identificacion" type="text" placeholder="&#128100;  Dirección"
        required>
      <input class="form-control round-input col-sm-11 input"  type="text" placeholder="&#128100;  Telefono"
        required>
      <input class="form-control round-input col-sm-11 input" type="email" placeholder="&#128100;  Correo"
        required>
      <input class="form-control round-input col-sm-2 input" type="text" placeholder="&#128100;  Iva 12%" required>
    </div>
    <div class="centered">
      <button type="submit" class="btn btn-danger">Actualizar</button>
    </div>
  </div>
</div>